<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrefectureList</key>
	<array>
		<dict>
			<key>FriendList</key>
			<array>
				<string>えみ</string>
				<string>ゆか</string>
				<string>ひでき</string>
			</array>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>ほっかいどう</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>えりこ</string>
			</array>
			<key>No</key>
			<integer>2</integer>
			<key>Name</key>
			<string>あおもりけん</string>
		</dict>
		<dict>
			<key>FriendList</key>
			<array>
				<string>ひろ</string>
			</array>
			<key>No</key>
			<integer>3</integer>
			<key>Name</key>
			<string>いわてけん</string>
		</dict>
	</array>
</dict>
</plist>
